body {
    background-color: #14425A;
}

.cardDoc {
    border-style: solid;
    border-color: #BF5700;
}

.textBlock {
    border-style: solid;
    border-color: #BF5700;
    width: 70%;
    background-color: #fff;
    font-size: 1.7rem;
}

.cardLink {
    text-decoration: none;
    color: #333333;
}

img {
    width: 100%;
}
