<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{doc.title}}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body onload="load()">
    <main class="d-flex justify-content-center">
        <section class="col-6 d-flex justify-content-between">
                    <section class="border border-1">
                        <h5>{{doc.title}}</h5>
                        <img src="{{doc.preview.url}}" class="mb-3" alt="">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="d-flex">
                                    {% for subject in doc.subjects.all %}
                                    <span class="badge m-1" style="background-color: {{subject.color}}">
                                        {{subject.name}}
                                    </span>
                                {% endfor %}
                                </div>
                                <div class="d-flex">
                                    {% for study in doc.studies.all %}
                                    <span class="badge m-1" style="background-color: {{study.color}}">
                                        {{study.level}}
                                    </span>
                                {% endfor %}
                                </div>
                            </div>
                            <div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="btn" name="like" id="likeBtn" onclick="postLike()"></button>
                                    <button class="btn" id="dislikeBtn" name="dislike" onclick="postDislike()"></button>
                                    <button class="btn" id="commentBtn"></button>
                                </form>
                            </div>
                        </div>
                        <p>{{doc.description}}</p>
                        <section class="d-flex justify-content-between">
                            <a href="/id{{doc.author.pk}}">{{doc.author}}</a>
                            <p>{{doc.date}}</p>
                        </section>
                        <section class="d-flex justify-content-center">
                            <form method="POST">
                                {% csrf_token %}
                                <a href="{{doc.link}}" class="btn btn-primary mb-2">
                                    Перейти на диск
                                </a>
                                {% if user == doc.author %}
                                    <a href="/document{{doc.pk}}/edit" class="btn btn-secondary mb-2">
                                        Заменить
                                    </a>
                                    <input type="submit" name="delete" class="btn btn-danger mb-2" value="Удалить">
                                {% endif %}
                            </form>
                        </section>
                        <a href="/">Домой</a>
                    </section>
                    <section class="border border-1">
                        <h2>Комментарии:</h2>
                        <div class="align-bottom">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" id="messageInput" name="messageInput">
                                <input class="btn btn-primary" type="button" value="Отправить" onclick="postComment();setTimeout(loadData, 500)">
                            </form>
                        </div>
                        <hr>
                        <div id="commentBlock">
                            
                        </div>
                    </section>
        </section>
    </main>
    <script>
        let DATA = 0;

        function loadData() {
            let xhr = new XMLHttpRequest();
            xhr.open(method="GET", url="/document{{doc.pk}}/getdata", async=true);
            
            xhr.onload = function() {
                let data = JSON.parse(xhr.response);

                if (data['is_liked']) {
                    likeBtn.innerHTML = `
                    {% include 'note_icons/caret_up_fill.html' %}
                    <span id="likeNum">${data['likes']}</span>
                    `;
                }
                else {
                    likeBtn.innerHTML = `
                    {% include 'note_icons/caret_up.html' %}
                    <span id="likeNum">${data['likes']}</span>
                    `;
                }

                if (data['is_disliked']) {
                    dislikeBtn.innerHTML = `
                    {% include 'note_icons/caret_down_fill.html' %}
                    <span id="dislikeNum">${-data['dislikes']}</span>
                    `;
                }
                else {
                    dislikeBtn.innerHTML = `
                    {% include 'note_icons/caret_down.html' %}
                    <span id="dislikeNum">${-data['dislikes']}</span>
                    `;
                }

                commentBtn.innerHTML = `
                {% include 'note_icons/comment.html' %}
                <span id="dislikeNum">${data['comments']['count']}</span>
                `;

                commentBlock.innerHTML = '';
                if (data['comments']['count'] == 0) {
                    let emptyTitle = document.createElement('h2');
                    emptyTitle.innerHTML = 'Пока здесь пусто!';
                    document.querySelector('#commentBlock').appendChild(emptyTitle); 
                }
                
                if (DATA != data['comments']['count']) {
                    let comments = data['comments']['data'];

                    for (let i = 0; i < comments.length; ++i) {
                        let comment = document.createElement('div');
                        let commentBottom = document.createElement('div');
                        let textMessage = document.createElement('p');
                        let author = document.createElement('span');
                        let date = document.createElement('span');

                        comment.id = `comment${i}`;
                        commentBottom.id = `commentBottom${i}`;

                        comment.className = 'm-1 p-1 border border-1 rounded text-emphasis-dark';
                        commentBottom.className = 'd-flex justify-content-between';

                        if ('{{request.user}}' == comments[i]['author']) {
                            comment.className += ' bg-info-subtle';
                        }

                        textMessage.innerHTML = comments[i]['text'];
                        author.innerHTML = comments[i]['author'];
                        date.innerHTML = comments[i]['date'];

                        document.querySelector(`#commentBlock`).appendChild(comment);
                        document.querySelector(`#${comment.id}`).appendChild(textMessage);
                        document.querySelector(`#${comment.id}`).appendChild(commentBottom);
                        document.querySelector(`#${commentBottom.id}`).appendChild(date);
                        document.querySelector(`#${commentBottom.id}`).appendChild(author);
                    }
                }
                
                DATA = data['comments']['count'];

            }

            xhr.send();

        }

        function postLike() {
            let xhr = new XMLHttpRequest();
            xhr.open(method="POST", url="/documents/postlikedata", async=true);

            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token }}");

            let response = {
                "doc": "{{doc.pk}}",
            }

            xhr.send(JSON.stringify(response));
        }

        function postDislike() {
            let xhr = new XMLHttpRequest();
            xhr.open(method="POST", url="/documents/postdislikedata", async=true);

            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token }}");

            let response = {
                "doc": "{{doc.pk}}",
            }

            xhr.send(JSON.stringify(response));
        }

        function postComment() {
            let xhr = new XMLHttpRequest();
            xhr.open(method="POST", url="/documents/postcommentdata", async=true);

            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token }}");

            let response = {
                'text': messageInput.value,
                "doc": "{{doc.pk}}",
            }
            messageInput.value = '';
            xhr.send(JSON.stringify(response));
        }

        function load() {
            loadData();
            setInterval(loadData, 10000);
        }
    </script>
</body>
</html>