<nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="d-flex">
          {% if request.path == '/' %}
          <a class="navbar-brand" href="#">BOOST!</a>
          {% else %}
          <a class="navbar-brand" href="/">BOOST!</a>
          {% endif %}
          {% if request.path != '/docs/' %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/docs/">Документы</a>
            </li>
          </ul>
          {% endif %}
          {% if has_docs %}
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Сортровка
            </button>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Сортировка</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form method="GET">
                  <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                      <div class="form-floating mb-3">
                        {{search_form.q}}
                        <label for="{{sort_docs.search.id_for_label}}">Поиск по названию:</label>
                    </div>
                    </div>
                      <div class="d-flex justify-content-between">
                          <div>
                              {{sort_form.subjects.label}}:
                              {{sort_form.subjects}}
                          </div>
                          <div>
                              {{sort_form.sort_type.label}}:
                              {{sort_form.sort_type}}
                          </div>
                          <div>
                              {{sort_form.studies.label}}:
                              {{sort_form.studies}}
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer d-flex justify-content-center">
                    <div>
                      <input type="submit" class="btn btn-secondary" name="drop" value="Сбросить">
                      <input type="submit" class="btn btn-primary" value="Сортировать">
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="d-flex justify-content-end">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/create">Добавить</a>
                </li>
              <div class="dropdown-center">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{request.user}}
                  </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/id{{request.user.pk}}">Аккаунт</a></li>
                      <li><a class="dropdown-item" href="/bookmarks">Закладки</a></li>
                    <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                  </ul>
                </li>
              </div>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Войти</a>
              </li>
              {% endif %}
            </ul>
              
            </div>
            
          </div>
        </div>
      </nav>