<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user_profile}}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
</head>
<body>
    <header class="mb-4">
        {% include 'menu.html' %}
    </header>
    <main>
        <section class="d-flex justify-content-center">
            <section class="d-flex align-items-center flex-column mb-4 p-2 bg-body rounded">
                <img class="rounded-circle" id="avatar" src="{{user_profile.avatar.url}}" alt="">
                <h2 class="text-center">{{user_profile}}</h2>
                <h4 class="text-center">@{{user_profile.username}}</h4>
                {% if user_profile == user %}
                    <a class="btn btn-warning" href="edit/">Редактировать</a>
                {% endif %}
                <h2>Всего документов: {{docs.count}}</h2>
            </section>
        </section>
            <section class="d-flex justify-content-center flex-wrap">
                {% for doc in docs %}
                <div class="cardDoc card border-5 m-2 p-2" style="max-width: 540px;">
                    <a href="/document{{doc.pk}}" class="cardLink">
                    <div class="row g-0">
                    <div class="col-md-4 p-2 align-bottom">
                        <img src="{{doc.preview.url}}" class="img-fluid rounded-start mb-2" alt="">
                        <div class="d-flex justify-content-between">
                            <p class="m-1">{% include 'note_icons/caret_up_fill.html' %} {{doc.likes}}</p>
                            <p class="m-1">{% include 'note_icons/caret_down_fill.html' %} {{doc.dislikes}}</p>
                            <p class="m-1">{% include 'note_icons/comment.html' %} {{doc.comments}}</p>
                        </div>
                    </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">{{doc.title}}</h5>
                                </div>
                                    <p class="card-text">{{doc.description}}</p>
                                    <p class="card-text"><small class="text-body-secondary">{{doc.author}}</small></p>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text"><small class="text-body-secondary">{{doc.date}}</small></p>
                                        <div class="ya-share2" 
                                        data-curtain 
                                        data-shape="round" 
                                        data-services="vkontakte,telegram,twitter,whatsapp"
                                        data-url="{{request.META.HTTP_HOST}}/document{{doc.pk}}"
                                        data-title="{{doc.title}}"
                                        data-description="{{doc.description}}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                {% endfor %}
            </section>
    </main>
    <script src="https://yastatic.net/share2/share.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>